* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-01 {
    height: 500px;
    background-color: antiquewhite;
    background-image: url(../img/deva-williamson-ntfGWVbBiO0-unsplash.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    /* repeat-x
       repeat-y
       no-repeat */
    background-position: right bottom;
    /* left right top bottom center */
}

.bg-02 {
    height: 500px;
    margin: 100px 0;
    /* background: 이미지 경로 위치 / 크기 반복 고정 */
    /* 위치와 크기 구분 위해서 사이에 / 치기 */
    background: url('../img/deva-williamson-tW0Ix_Ajg6Y-unsplash.jpg') center / cover no-repeat darkgrey fixed;
}

.bg-03 {
    height: 500px;
    /* 그라디언트.io (CSS Gradient) */
    background: #91e0ff;
    background: linear-gradient(90deg, rgba(145, 224, 255, 1) 0%, rgba(255, 251, 219, 1) 25%, rgba(179, 255, 209, 1) 50%, rgba(255, 245, 245, 1) 77%, rgba(208, 178, 247, 1) 100%);
}