* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {}
.section-01 .list {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* 중앙 배치 */

}

.section-01 .list .item {
    width: 280px;
    height: 360px;
    position: relative;
    overflow: hidden; /* item에서 벗어난 요소(자식) 숨기기 */
}

.section-01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.section-01 .list .item .text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 120, 215, 0.315);
    padding: 10px;
    transform: translateY(100%);
    transition: 0.5s; /* 움직이는 속도 */
}

/* 마우스 올렸을 때 = hover */
.section-01 .list .item:hover .text {
    transform: translateY(0);
} 

.section-01 .list .item .text strong {}
.section-01 .list .item .text p {}