* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-01 {}

.section-01 .list {
    max-width: 900px; /* 최대크기 900px */
    /* width: 100%; */
    width: calc(100% - 40px); /* 좌우20px씩 띄우기 */
    /* calc() => 괄호안에 연산식 *(곱셈), /(나누기), +(덧셈), -(뺄셈) !기호 앞뒤로 띄어쓰기! * /
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* 중앙 배치 */
}

.section-01 .list .item {
    /* width: 280px; */
    width: 32%;
    height: 360px;
    position: relative;
    overflow: hidden;
    /* item에서 벗어난 요소(자식) 숨기기 */
}

.section-01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .list .item .text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 120, 215, 0.315);
    padding: 10px;
    transform: translateY(100%);
    transition: 0.5s;  /* 움직이는 속도 */
}

/* 마우스 올렸을 때 = hover */
.section-01 .list .item:hover .text {
    transform: translateY(0);
}

.section-01 .list .item .text strong {}
.section-01 .list .item .text p {}


/* 화면의 크기가 1280px보다 작을 때 실행 */
/* .item 안에 있는 .text를 보이도록 적용 */
@media screen and (max-width: 1280px) {
    .section-01 .list .item .text {
        transform: translateY(0);
    }
}

/* 화면의 크기가 600px 이하일 때 실행 */
/* .item의 가로크기 100%; */
/* 세로방향으로 배치 (flex-wrap:wrap)
    ㄴdisplay:flex를 작성한 선택자에게 작성 */

@media screen and (max-width: 600px) 
{  
    .section-01 .list {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .section-01 .list .item {
        width: 100%;
    }
    
}